#browserid .login > img {
  display: none;
}

#browserid .login.pending {
  opacity: 0.5;
}

#browserid .login.clickable:hover {
  opacity: .75;
  cursor: pointer;
}

#browserid .picture {
  margin: 0.5em;
}

#browserid a.logout {
  margin-left: 0.2em;
}
